# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml- task: GoTool@0
  inputs:
    version: '1.10'
- task: Docker@2
  inputs:
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    - task: AppCenterTest@1
      inputs:
        artifactsDirectory: '$(Build.ArtifactStagingDirectory)/AppCenterTest'
        frameworkOption: 'appium'
        credentialsOption: 'serviceEndpoint'
        localeOption: 'en_US'
- task: PowerShell@2
  inputs: